body {
    height: 1200px;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header {
    background-color: yellowgreen;
    height: 150px;
}

#titulo {
    font-size: 36pt;
    color: white;
}


#search {
    font-size: 24pt;
}

.glyphicon {
    font-size: 24pt;
    color: white;
}

/* Alineados */

.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}